In [1]:
# Question 1
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort() #Sorting Ages array
print("Ages list after sorting:",ages);
minimum=ages[0]
maximum=ages[-1]
print("Maximum age is",maximum)
print("Minimum age is",minimum)
ages.append(maximum)
ages.append(minimum)
print("Ages list after appending maximum and minimum is",ages)
length=len(ages)
#If length is odd then median is middle element else average of two middle elements
if(length%2!=0):
    print("Median is",ages[length//2])
else:
    print("Median is",(ages[length//2]+ages[length//2+1])//2)
average=sum(ages)
print("Average of ages is",average/len(ages))
range=maximum-minimum
print("Range of ages is",range)

Ages list after sorting: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Maximum age is 26
Minimum age is 19
Ages list after appending maximum and minimum is [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]
Median is 24
Average of ages is 22.75
Range of ages is 7

In [4]:
#Question 2
dog={} #Empty Dictonary
dog['name']='lab'
dog['age']=10
dog['breed']='labrador'
dog['legs']=4
print("Dog dictonary is",dog)

#Empty student dict
student={}
#Adding student details to dict
student["first_name"]='Sai Nikhil Reddy'
student["last_name"]='Vatti'
student["gender"]='male'
student["age"]=22
student["marital_status"]='single'
student['skills']=['Java',"Python","C","Javascript"]
student["country"]="India"
student['city']="Khammam"
student["Address"]="Khammam"

print("Student dictionary is",student)
print("The length of student dictionary is",len(student))
print("The datatype of value of skills is ",type(student['skills']))
#Appending HTML to skills list
student['skills'].append('HTML') 
print("The dictonary keys as list is",list(student.keys()))
print("The dictonary keys as list is",list(student.values()))

Dog dictonary is {'name': 'lab', 'age': 10, 'breed': 'labrador', 'legs': 4}
Student dictionary is {'first_name': 'Sai Nikhil Reddy', 'last_name': 'Vatti', 'gender': 'male', 'age': 22, 'marital_status': 'single', 'skills': ['Java', 'Python', 'C', 'Javascript'], 'country': 'India', 'city': 'Khammam', 'Address': 'Khammam'}
The length of student dictionary is 9
The datatype of value of skills is  <class 'list'>
The dictonary keys as list is ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'Address']
The dictonary keys as list is ['Sai Nikhil Reddy', 'Vatti', 'male', 22, 'single', ['Java', 'Python', 'C', 'Javascript', 'HTML'], 'India', 'Khammam', 'Khammam']

In [5]:
#Question 3
siblings=()
sisters=('Soumya','Sohila') #Sibiling Tuple
brothers=('Deepak','Vamshi') #Brothers Tuple
siblings=sisters+brothers # Merging tuples
print("Siblings:",siblings)
print("Number of sibilings:",len(siblings))
family_members=siblings+('Srinivas',"Sailaja")
print("Family members:", family_members)

Siblings: ('Soumya', 'Sohila', 'Deepak', 'Vamshi')
Number of sibilings: 4
Family members: ('Soumya', 'Sohila', 'Deepak', 'Vamshi', 'Srinivas', 'Sailaja')

In [6]:
#Question 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Length of the set it_companies is",len(it_companies))
#Adding twitter to it_companies
it_companies.add('Twitter')
print("It_companies after adding twitter:",it_companies)
# Adding Netflix,TCS,Infosys to it_companies
it_companies.update({'Netflix','TCS',"Infosys"})
print("it_companies after adding Netflix,TCS,Infosys:",it_companies)
# Removing Netflix from it_companies
it_companies.remove('Netflix')
print("it_companies after removing Netflix :",it_companies)
#The discard() removes element from set and remove() does the same work but if the element is not present in then remove() raises a error.
print("Join of A and B:",A.union(B))
print("A intersection B:",A.intersection(B))
print("Is A subset of B:",A.issubset(B))
print("Are A and B disjoint sets:",A.isdisjoint(B))
print("A union B :",A.union(B))
print("B union A :",B.union(A))
print("Systemric difference between A and B:",A.symmetric_difference(B))
print("A after deletion:",A.clear())
print("B after deletion:",B.clear())
print("it_companies after deletion:",it_companies.clear())
print("Length of age as list:",len(age))
print("Length of age after coverting to set:",len(set(age)))
# Length of age as list is greater than after converting to set

Length of the set it_companies is 7
It_companies after adding twitter: {'Apple', 'Amazon', 'Google', 'Oracle', 'Twitter', 'IBM', 'Microsoft', 'Facebook'}
it_companies after adding Netflix,TCS,Infosys: {'Apple', 'Google', 'Netflix', 'Twitter', 'IBM', 'Oracle', 'Microsoft', 'Facebook', 'Amazon', 'Infosys', 'TCS'}
it_companies after removing Netflix : {'Apple', 'Google', 'Twitter', 'IBM', 'Oracle', 'Microsoft', 'Facebook', 'Amazon', 'Infosys', 'TCS'}
Join of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
A union B : {19, 20, 22, 24, 25, 26, 27, 28}
B union A : {19, 20, 22, 24, 25, 26, 27, 28}
Systemric difference between A and B: {27, 28}
A after deletion: None
B after deletion: None
it_companies after deletion: None
Length of age as list: 8
Length of age after coverting to set: 5

In [64]:
#Question 5
radius=30
# Area of circle
_area_of_circle_=3.41*radius*radius
print("Area of circle is:",_area_of_circle_)
_circum_of_circle_=2*3.41*radius
print("Circumference of circle is:",_circum_of_circle_)
rad=int(input("Enter Radius "))
print("Area of circle with radius {0} is {1}".format(rad,3.41*rad*rad))

Area of circle is: 3069.0000000000005
Circumference of circle is: 204.60000000000002
Enter Radius 5
Area of circle with radius 5 is 85.25

In [65]:
#Question 6
sentence='I am a teacher and I love to inspire and teach people'
#split() generates an array of words after splitting given sentence
word_array=sentence.split(' ')
#set of words in the given sentence
word_set=set(word_array);
print("Number of unique words in given sentence: ",len(word_set))

Number of unique words in given sentence:  10

In [14]:
#Question 7
print('Name\t\tAge\tCountry\t\tCity')
print('Asabeneh\t250\tFinland\t\tHelsinki')

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

In [3]:
#Question 8
radius=10
area=3.14*radius*radius
#Using string formating method to print area
print('The area of a circle with radius 10 is {0} meters square.'.format(area))

The area of a circle with radius 10 is 314.0 meters square.

In [7]:
#Question 9
#Pounds list
lbs_list=[]
n=int(input("Enter number of students"))
for i in range(n):
    lbs_list.append(int(input()))
#Kilogram List
kgs_list=[]
for i in lbs_list:
    kgs_list.append(round(i/2.2046,2))
print("Weights after converting to kgs,",kgs_list)

Enter number of students5
150
160
170
180
190
Weights after converting to kgs, [68.04, 72.58, 77.11, 81.65, 86.18]